<ion-content>
  <div class="back">
    <div class="heading">
     <ins> <b><h1>SELECT CLASS </h1></b></ins>
      <p>Please select your class to continue ...</p>
  </div>

    <div class="button" >
     <ion-button size="large" shape="round" class="nine" routerLink="/nsubject">Class 9th</ion-button>
       </div>
      <div class="button1">
      <ion-button size="large" shape="round" class="ten" routerLink="/tsubject">Class 10th</ion-button>
</div>
<ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/thank-you"></ion-icon>
</div>
</ion-content>

 
 