.back{
    height: 100%;
    width: 100%;
    background: linear-gradient(160deg, #b26ecf 30%, #97f8ed 70%);
  }

.heading {
    margin-top:  20vh;
  
    h1 {
       font-size: 2rem;
       text-align: center;
       text-shadow: #414040;
       font-family:serif;
       font-size: 50px
    }
    p {
        margin-top: 8vh;
    font-size: 20px;
        color: #050404;
      text-align: center;
    }
}
.button{
    text-align: center;
}
.nine {
    margin-top: 8vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;
    
   }

.button1{
    text-align: center;
}   
.ten {
    margin-top: 3vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;

   }      

   .backbutton{
    margin-top: 8vh;
    width: 12%;
    height: 12%;
}   