<ion-header [translucent]="true">
  <ion-toolbar>
    <b><ion-title>Physics</ion-title></b>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="back">
  <ion-header collapse="condense">
    <ion-toolbar>
      <b><ion-title size="large">Physics</ion-title></b>
    </ion-toolbar>
  </ion-header>

  
    <ins>  <b><h1>Chapter 1 </h1></b></ins>
    <iframe width="430" height="310" src="https://www.youtube.com/embed/pa5lfhp9HFM?si=S4PwwJ9Ei9sd-tY_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

   <ins> <b><h1>Chapter 2 </h1></b></ins>
   <iframe width="430" height="310" src="https://www.youtube.com/embed/qs93YQmJeRc?si=9jZaCWWuwDevsppF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

   <ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/tsubject"></ion-icon>
  
</div>
</ion-content>
