<ion-content>

  <div class="back">
  
  <div class="heading">
    <ins>  <b><h1>CLASS 10th </h1></b></ins>
  <ins>  <b><h2>SELECT SUBJECT </h2></b></ins>
    <p>What would you Learn today?</p>
</div>

  <div class="button" >
   <ion-button size="large" shape="round" class="m" routerLink="/tmaths">Maths</ion-button>
     </div>
    <div class="button1">
    <ion-button size="large" shape="round" class="p" routerLink="/tphysics">Physics</ion-button>
</div>
<div class="button2">
  <ion-button size="large" shape="round" class="c" routerLink="/tchemistry">Chemistry</ion-button>
</div>
<div class="button3">
  <ion-button size="large" shape="round" class="e" routerLink="/tenglish">English</ion-button>
</div>
<div class="button4">
  <ion-button size="large" shape="round" class="i" routerLink="/tpst">Pak. Studies</ion-button>
</div>

<ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/class"></ion-icon>

  </div>
</ion-content>



