.back{
    height: 110%;
    width: 100%;
    background: linear-gradient(160deg, #b26ecf 30%, #97f8ed 70%);
  }
.color{
    background-color: #91b0fe!important;
}   
   .heading {
    margin-top:  20vh;
  
    h1 {
        font-size: 2rem;
        text-align: center;
        text-shadow: #414040;
        font-family:serif;
        font-size: 40px
     } 

    h2 {
       font-size: 2rem;
       text-align: center;
       text-shadow: #414040;
       font-family:serif;
       font-size: 40px
    }
    p {
        margin-top: 7vh;
    font-size: 25px;
        color: #000000;
      text-align: center;
    }
}

.button{
    text-align: center;
    margin-top: 10%;
}
.tmaths{
    
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;
    
   }

.button1{
    text-align: center;
}   
.tphysics {
    margin-top: 1vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;

   }

.button2{
    text-align: center;
}   
.tchemistry{
    margin-top: 1vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;

   }

.button3{
    text-align: center;
}   
.tenglish {
    margin-top: 1vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;

   }

.button4{
    text-align: center;
}   
.tpst {
    margin-top: 1vh;
    text-align: center;
    width: 85%;
    height: 50x;
    text-transform: none;
    font-size: 25px;

   }      

.backbutton{
    margin-top: 3vh;
    width: 12%;
    height: 12%;
}   