<ion-header [translucent]="true">
  <ion-toolbar>
    <b><ion-title>Physics</ion-title></b>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="back">
  <ion-header collapse="condense">
    <ion-toolbar>
      <b><ion-title size="large">Physics</ion-title></b>
    </ion-toolbar>
  </ion-header>

    <ins>  <b><h1>Exercise 1 </h1></b></ins>
    <iframe width="430" height="310" src="https://www.youtube.com/embed/_I6DQHr6ZmM?si=TmZwIuPI1_PhfOo-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
     <ins> <b><h1>Exercise 2 </h1></b></ins>   
    <iframe width="430" height="310" src="https://www.youtube.com/embed/WAxMiLkekJY?si=FWIFxWlMZizWl80j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/nsubject"></ion-icon>
  
  </div>
  </ion-content>

