<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Islamiat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="back">
  <ion-header collapse="condense">
    <ion-toolbar>
      <b><ion-title size="large">Islamiat</ion-title></b>
    </ion-toolbar>
  </ion-header>

    <ins>  <b><h1>Chapter 1 </h1></b></ins>
    <iframe width="430" height="310" src="https://www.youtube.com/embed/0zwwbIBwGi0?si=oMJ8chLpgsrlvPnG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <ins> <b><h1>Chapter 2 </h1></b></ins>   
        <iframe  width="430" height="310" src="https://www.youtube.com/embed/x0grrB9KKng?si=Ptl27LXc6r1Gy-cp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        <ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/nsubject"></ion-icon>

      </div>
    </ion-content>
