<ion-header [translucent]="true">
  <ion-toolbar>
    <b><ion-title>Chemistry</ion-title></b>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="back">
  <ion-header collapse="condense">
    <ion-toolbar>
      <b><ion-title size="large">Chemistry</ion-title></b>
    </ion-toolbar>
  </ion-header>

    <ins>  <b><h1>Chapter 1 </h1></b></ins>
    <iframe width="430" height="310" src="https://www.youtube.com/embed/qvXSSe0eVBg?si=mv0yLh3wdjamRE3j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <ins> <b><h1>Chapter 2 </h1></b></ins>   
    <iframe width="430" height="310" src="https://www.youtube.com/embed/NnE2ix2Zvrc?si=lBx2wjXuFsHxnrW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
    <ion-icon class="backbutton"  name="arrow-back-circle-outline" routerLink="/nsubject"></ion-icon>
  </div>
  </ion-content>